.container-login {
  height: 100vh;
  width: 100%;
  top:  0;
  position: fixed;
  z-index: 10;
  background: rgba(0, 0, 0,.5);
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
}

.login {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #fff;
  border-radius: 4px;
}

.formulario {
  padding: 120px;
}

.formulario h2 {
  grid-column: 2;
  text-align: center;
  display: inline-block;
  color: #111;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.formulario label {
  display: block;
  margin: 1rem 0.5rem 0;
  font-size: 16px;
  color: var(#111);
  margin-bottom: 10px;
}


.formulario input {
  padding: .7rem .5rem;
  width: 450px;
  box-sizing: border-box;
  border: 1px solid #b3b3b3;
  color: #898d8c;
  border-radius: 4px;
}

.formulario input#name {
  width: 200px;
}

.formulario button[type="submit"] {
  background: linear-gradient(90deg, #8A2BE2, #00AEEF);
  font-size: 1rem;
  padding: 1.2rem 1.5rem;
  border: none;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #2F2536;
  display: block;
  border-radius: 4px;
}

.login img {
  height: 750px;
  width: 600px;
  grid-column: 1;
  object-fit: cover;
  display: block;
  object-position: center;
}